@tailwind base;
@tailwind components;
@tailwind utilities;

// Abstracts
@import 'abstracts/mixins';

// Base
@import './base/base.scss';
@import './base/layout.scss';

// Components
@import './components/button.scss';
@import './components/react-datepicker.scss';
@import './components/google-signin.scss';
@import 'components/swiper';

// Utilities
@import 'utilities.scss';



body {
  @apply bg-dark text-white text-xs;
}

/* Global transparent scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: transparent;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #393939;
  border-radius: 4px;
}

/* Firefox */
* {
  scrollbar-color: #393939 transparent;
  scrollbar-width: thin;
}

.react-datepicker-wrapper {
  @apply w-fit;
}

.react-datepicker__input-container {
  display: flex !important;
  align-items: center;
}

.react-datepicker__calendar-icon {
  @apply text-white;
}

.react-datepicker {
  @apply bg-black;
}